<table class="table table-hover">
    <tr>
        <td>
            <a href="{{ url_for('user', username=unit.creator.username) }}">
                {{ unit.creator.username }}
            </a> 在 {{ moment(unit.timestamp).fromNow() }} 添加
            <br>
            <a href="{{ url_for('unit', unit_id=unit.id) }}">
                <b>{{ unit.name }}</b>
            </a>
            <br>
            {% if unit.age %}
            {{ unit.age }} 岁
            <br>
            {% endif %}
        </td>
    </tr>
</table>