{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1 class="text-uppercase text-white font-weight-bold">添加新记录</h1>
<hr class="divider my-4" />
<script src="{{ url_for('static', filename='add_metric.js') }}"></script>
<div class="row auto-scroll" style="height: 400px">
    <div class="col-lg-4 mx-auto text-white">
        {% if form %}
        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.unit_id) }}
            <p id="myButtons">
                <a class="btn btn-info btn-xl" onclick="addFormField()">添加新指标</a>
                &nbsp {{ wtf.form_field(form.submit) }}
            </p>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}