{% extends 'bootstrap/base.html' %}

{% block html_attribs %} lang="en" {% endblock %}

{% block title %}
{% if title %}{{ title }} - {% endif %}高寒部队兵源选拔系统
{% endblock %}

{%block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}

{% block styles %}
<link href="{{ url_for('static', filename='ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 mb-0" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('index') }}">高寒部队兵源选拔系统</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('record') }}">体检记录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('dashboard') }}">统计数据</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('evaluate') }}">冷适应水平评估</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="">冷适应潜力评估</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('login') }}">登录</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger disable">{{ current_user.username }}</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('passwd') }}">修改密码</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('logout') }}">登出</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
        <div class="row h-75 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <div id="flash">
                {% for message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{% if message[0] == 'message' %}info{% else %}{{ message[0] }}{% endif %}
                mx-auto font-weight-bold">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message[1] }}
                </div>
                {% endfor %}
                </div>
                {% block app_content %}{% endblock %}
                <hr class="divider my-4">
                <footer class="text-center text-white-75 font-weight-bold">
                    {% block footer %}&copy; 北京大学
                    <!-- <a id="bottom" href="#" title="回到顶部">&uarr;</a> -->{% endblock %}
                </footer>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='ajax/libs/jquery/3.5.1/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='ajax/libs/jquery-validate/1.19.2/localization/messages_zh.min.js') }}"></script>
<script src="{{ url_for('static', filename='ajax/libs/moment.js/2.29.1/moment-with-locales.min.js') }}"></script>
<script src="{{ url_for('static', filename='ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js') }}"></script>
<script>
    moment.locale("en");
    function flask_moment_render(elem) {
        timestamp = moment($(elem).data('timestamp'));
        func = $(elem).data('function');
        format = $(elem).data('format');
        timestamp2 = $(elem).data('timestamp2');
        no_suffix = $(elem).data('nosuffix');
        args = [];
        if (format)
            args.push(format);
        if (timestamp2)
            args.push(moment(timestamp2));
        if (no_suffix)
            args.push(no_suffix);
        $(elem).text(timestamp[func].apply(timestamp, args));
        $(elem).removeClass('flask-moment').show();
    }
    function flask_moment_render_all() {
        $('.flask-moment').each(function () {
            flask_moment_render(this);
            if ($(this).data('refresh')) {
                (function (elem, interval) { setInterval(function () { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
            }
        })
    }
    $(document).ready(function () {
        flask_moment_render_all();
    });
</script>
<script>
    moment.locale("zh-CN");
</script>
<script>
    var flashMessage = function (data, type = 'info') {
        html = '';
        html += '<div class="alert alert-' + type + ' mx-auto font-weight-bold"><button type="button" class="close" data-dismiss="alert">&times;</button>' + data + '</div>';
        return html;
    };
</script>
<script>
    (function ($) {
        "use strict"; // Start of use strict

        // Smooth scrolling using jQuery easing
        $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: (target.offset().top - 72)
                    }, 1000, "easeInOutExpo");
                    return false;
                }
            }
        });

        // Closes responsive menu when a scroll trigger link is clicked
        $('.js-scroll-trigger').click(function () {
            $('.navbar-collapse').collapse('hide');
        });

        // Activate scrollspy to add active class to navbar items on scroll
        $('body').scrollspy({
            target: '#mainNav',
            offset: 75
        });

        // Collapse Navbar
        var navbarCollapse = function () {
            if ($("#mainNav").offset().top > 100) {
                $("#mainNav").addClass("navbar-scrolled");
            } else {
                $("#mainNav").removeClass("navbar-scrolled");
            }
        };
        // Collapse now if page is not at top
        navbarCollapse();
        // Collapse the navbar when page is scrolled
        $(window).scroll(navbarCollapse);

    })(jQuery); // End of use strict
</script>
{% endblock %}