<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}统计数据{% endblock %}

{%block metas %}
   {{ super() }}
   <meta charset="utf-8">
{% endblock %}

{% block styles %}
   {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>

    <script language="JavaScript">
    $(document).ready(function() {
       var chart = {
           plotBackgroundColor: null,
           plotBorderWidth: null,
           plotShadow: false
       };
       var title = {
          text: '各类别人员占比情况'
       };
       var subtitle = {
          text: '一共五类人员'
       };
       var tooltip = {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
       };
       var plotOptions = {
          pie: {
             allowPointSelect: true,
             cursor: 'pointer',
             dataLabels: {
                enabled: true,
                format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                style: {
                   color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
             }
          }
       };
       var series= [{
          type: 'pie',
          name: '各类别占比',
          data: {{ gender_data | tojson }}
       }];
       Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
          return {
             radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
             stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
             ]
          };
       });

       var json = {};
       json.chart = chart;
       json.title = title;
       json.subtitle = subtitle;
       json.tooltip = tooltip;
       json.series = series;
       json.plotOptions = plotOptions;
       $('#container_pie').highcharts(json);
    });
    </script>


    <script language="JavaScript">
    $(document).ready(function() {
       var chart = {
          type: 'bar'
       };
       var title = {
          text: '各类别人员统计数据'
       };
       var subtitle = {
          text: '一共五类人员'
       };
       var xAxis = {
          categories: ['第一类', '第二类', '第三类', '第四类', '第五类'],
          title: {
             text: null
          }
       };
       var yAxis = {
          min: 0,
          title: {
             text: '人数',
             align: 'high'
          },
          labels: {
             overflow: 'justify'
          }
       };
       var tooltip = {
          valueSuffix: ' case'
       };
       var plotOptions = {
          bar: {
             dataLabels: {
                enabled: true
             }
          }
       };
       var legend = {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -40,
          y: 100,
          floating: true,
          borderWidth: 1,
          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
          shadow: true
       };
       var credits = {
          enabled: false
       };

       var series= [{
             name: '所有人员',
                data: {{ data_0 | tojson }}
            }
       ];

       var json = {};
       json.chart = chart;
       json.title = title;
       json.subtitle = subtitle;
       json.tooltip = tooltip;
       json.xAxis = xAxis;
       json.yAxis = yAxis;
       json.series = series;
       json.plotOptions = plotOptions;
       json.legend = legend;
       json.credits = credits;
       $('#container_bar').highcharts(json);

    });
    </script>

{% endblock %}

{% block app_content %}
    <h1 align="center">数据库中快速诊断记录的统计数据</h1>
    <hr>
    <div id="container_pie" style="width: 550px; height: 400px; margin: 0 auto"></div>
    <hr>
    <div id="container_bar" style="width: 550px; height: 400px; margin: 0 auto"></div>
{% endblock %}
