{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        .featurette-image.pull-left {
            margin-right:25px;
        }
        .featurette-image.pull-right {
            margin-left:25px;
        }
        .imgBorder {
            border: 1px solid silver;
        }
    </style>
{% endblock %}




{% block app_content %}

<div class="container">
    <div class="jumbotron">
        <h1 class="main-title">智能护理管理系统</h1>
        <!-- <p>一种管理您的病人和诊断记录的新方式</p> -->
        {% if current_user.is_authenticated %}
            <br>
            <p><b>欢迎您， {{ current_user.username }} !</b></p>
        {% else %}
            <br>
            <p>
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-large" data-show-loading="true">登录</a> &nbsp
                <a href="{{ url_for('register') }}" class="btn btn-info btn-large" data-show-loading="true">注册</a>
            </p>
        {% endif %}
    </div>
</div>

<div class="featurette">
    <span class="featurette-image pull-right">
        <img src="{{ url_for('static', filename='images/screenshot.png') }}" alt="" class="imgBorder" width="300" height="150"/>
    </span>
    <h2 class="featurette-heading">人员列表 <span class="text-muted">简单易用的人员管理系统</span></h2>
    <p class="lead">
        人员列表操作简单，您可以随时添加新人员，管理人员的档案，以及为人员添加体检记录。
    </p>
</div>

<br>
<hr>

<div class="featurette">
    <span class="featurette-image pull-left">
        <img src="{{ url_for('static', filename='images/nn.jpg') }}" alt="" class="imgBorder" width="330" height="200"/>
    </span>
    <h2 class="featurette-heading">智能预测 <span class="text-muted">使用神经网络分类器预测抗寒能力</span></h2>
    <p class="lead">
        我们采用多种聚类方法来帮助您快速预测人员的抗寒能力。我们的分类模型基于真实数据构建，能够给出可信的预测结果。
        您可以根据我们的预测结果灵活采取应对措施。
    </p>
</div>
<br>

{% endblock %}

