{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block app_content %}
<h1>
    <a class="text-uppercase text-white font-weight-bold position-relative" style="text-decoration: none"
        href="{{ url_for('record') }}">
        体检记录 <small class="text-muted">{{ pagination.total }}</small>
    </a>
</h1>
<a class="btn btn-primary btn-sm position-absolute" style="top: 0.75rem; right: 1rem"
    href="{{ url_for('record_add', next=request.full_path) }}">添加新记录</a>
<hr class="divider my-4" />

<form class="bs-example bs-example-form" role="form" action="{{ url_for('record') }}">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="input-group">
                <input type="text" name="q" class="form-control"
                    placeholder="{{request.args.get('q', '请输入您想要搜索的人员姓名')}}"
                    style="border-top-left-radius: 10rem; border-bottom-left-radius: 10rem; border: none; padding-left: 1.5rem">
                <button class="btn btn-default" style="border-top-left-radius: 0; border-bottom-left-radius: 0"
                    type="submit">搜索</button>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</form>
<br>
{% with records = pagination.items %}
{% if records %}
<div class="auto-scroll" style="height: 300px">
    <table id="table" class="table table-hover" data-filter-control="true" data-show-clear="true">
        <thead>
            <tr>
                <th data-field="id">序号</th>
                <th data-field="name">姓名</th>
                <th data-field="clazz">类别</th>
                <th data-field="up">是否上升</th>
                <th data-field="vrci">VRCI</th>
                <th data-field="icw">血白细胞计数(WBC)</th>
                <th data-field="ecw">粒细胞百分比</th>
                <th data-field="timestamp">创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        {% for record in records %}
        <div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-text">
                        <div class="modal-header">
                            <h3 class="modal-title" id="myModalLabel">{{ record.name }} 的体检记录</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="float: right; color: #fff;">&times;</button>
                        </div>
                        <div class="modal-body auto-scroll">
                            {% for key, value in record.get_metrics().items() %}
                            <div style="clear: both">
                                <span class="float-left">{{ key }}:</span>
                                <span class="float-right">{{ value }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            本记录由 {{ record.creator.username }} 在 {{ moment(record.timestamp).fromNow() }} 添加
                        </div>
                    </div><!-- /.modal-text -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <tr>
            <td>{{ loop.index + ((page - 1) * config.PER_PAGE) }}</td>
            <td>{{ record.name }}</td>
            <td>
                {% if not record.label is none %} {{ config.LABEL[record.label] }}
                {% else %} <a class="btn btn-primary btn-sm"
                    href="{{ url_for('predict', record_id=record.id, next=request.full_path) }}">预测</a>
                {% endif %}
            </td>
            <td>
                {% if not record.up is none %} {{ config.UP[record.up] }}
                {% else %} <a class="btn btn-primary btn-sm"
                    href="{{ url_for('predict', record_id=record.id, next=request.full_path) }}">预测</a>
                {% endif %}
            </td>
            <td>{{ record.get_metrics().get('VRCI', '') }}</td>
            <td>{{ record.get_metrics().get('血白细胞计数(WBC)', '') }}</td>
            <td>{{ record.get_metrics().get('粒细胞百分比', '') }}</td>
            <td>{{ moment(record.timestamp).format('L LTS') }}</td>
            <td>
                <button class="btn btn-default btn-sm" data-toggle="modal"
                    data-target="#myModal{{ loop.index }}">详情</button>
                {% if (record.creator == current_user) or (current_user.is_admin()) %}
                <form style="display: inline" class="inline" method="post"
                    action="{{ url_for('record_delete', record_id=record.id, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('你确定要删除吗?');">删除</button>
                </form>
                {% else %}
                <button class="btn btn-danger btn-sm disabled">删除</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<br>
<h5 class="text-uppercase text-white font-weight-bold">没有体检记录</h5>
{% endif %}
{% endwith %}
{% endblock %}