{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block app_content %}

{% if form %}
<script src="{{ url_for('static', filename='add_metric.js') }}"></script>
<div class="modal fade" id="addRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-text">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">为 {{ unit.name }} 添加体检记录 </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        style="color: #fff">&times;</button>
                </div>
                <div class="modal-body auto-scroll">
                    <form class="form" method="POST">
                        {{ form.hidden_tag() }}
                        <div style="display: none">{{ wtf.form_field(form.unit_id) }}</div>
                        <p id="myButtons">
                            <a class="btn btn-info btn-xl" onclick="addFormField()">添加新指标</a>
                            &nbsp {{ wtf.form_field(form.submit) }}
                        </p>
                    </form>
                </div>
            </div><!-- /.modal-text -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}


<h1 class="text-uppercase text-white font-weight-bold">
    {{ unit.name }}
</h1>
<p>
    {% if unit.age %}<span class="mr-3"><b>年龄: </b>{{ unit.age }}{% endif %}</span>
    {% if unit.height %}<span class="mx-3"><b>身高: </b>{{ unit.height }} cm{% endif %}</span>
    {% if unit.weight %}<span class="ml-3"><b>体重: </b>{{ unit.weight }} kg{% endif %}</span>
</p>
<hr class="divider my-4" />

<h3 class="text-uppercase text-white font-weight-bold">
    <span style="align-items: center;">体检记录</span>
</h3>
<button class="btn btn-primary btn-sm position-relative float-right mr-4" style="top: -2.75rem" data-toggle="modal"
    data-target="#addRecord">添加记录</button>

{% if records %}
<div class="auto-scroll" style="height: 300px; margin-top: 3rem; position: relative; top: -2.75rem">
    <table id="table" class="table table-hover" data-filter-control="true" data-show-clear="true">
        <thead>
            <tr>
                <th data-field="id">序号</th>
                <th data-field="clazz" data-filter-control="input">类别</th>
                <th data-field="vrci" data-filter-control="input">VRCI</th>
                <th data-field="icw" data-filter-control="input">ICW</th>
                <th data-field="ecw" data-filter-control="input">ECW</th>
                <th data-field="timestamp" data-filter-control="input">创建时间</th>
                <th data-field="name" data-filter-control="input">创建者</th>
                <th>操作</th>
            </tr>
        </thead>
        {% for record in records %}
        <div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-text">
                        <div class="modal-header">
                            <h3 class="modal-title" id="myModalLabel">{{ record.owner.name }} 的体检记录 </h3>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                style="float: right; color: #fff;">&times;</button>
                        </div>
                        <div class="modal-body auto-scroll">
                            {% for key, value in record.get_metrics().items() %}
                            <div style="clear: both">
                                <span class="float-left">{{ key }}:</span>
                                <span class="float-right">{{ value }}</span>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            本条记录由
                            <a
                                href="{{ url_for('user', username=record.creator.username) }}">{{ record.creator.username }}</a>
                            在 {{ moment(record.timestamp).fromNow() }} 添加
                        </div>
                    </div><!-- /.modal-text -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <tr>
            <td>{{ loop.index + ((page - 1) * config.UNITS_PER_PAGE) }}</td>
            <td>
                {% if record.label %} {{ record.label }}
                {% else %} <a class="btn btn-primary btn-sm"
                    href="{{ url_for('predict', record_id=record.id, next=request.full_path) }}">预测</a>
                {% endif %}
            </td>
            <td>{{ record.get_metrics().get('VRCI', '') }}</td>
            <td>{{ record.get_metrics().get('ICW(Intracellular Water)', '') }}</td>
            <td>{{ record.get_metrics().get('ECW(Extracellular Water)', '') }}</td>
            <td>{{ moment(record.timestamp).format('LLL') }}</td>
            <td>
                <a href="{{ url_for('user', username=record.creator.username, next=request.full_path) }}">
                    {{ record.creator.username }}</a>
            </td>
            <td>
                <button class="btn btn-default btn-sm" data-toggle="modal"
                    data-target="#myModal{{ loop.index }}">详情</button>
                {% if (record.creator == current_user) or (current_user.is_admin()) %}
                <form style="display: inline" class="inline" method="post"
                    action="{{ url_for('record_delete', record_id=record.id, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('你确定要删除吗?');">删除</button>
                </form>
                {% else %}
                <button class="btn btn-danger btn-sm disabled">删除</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<br>
<h5 class="text-uppercase text-white font-weight-bold">没有记录</h5>
{% endif %}
{% endblock %}