{% extends "base.html" %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block app_content %}
<h1 class="text-uppercase text-white font-weight-bold">
    {% if user.is_admin() %}<b>管理员 </b>{% endif %}{{ user.username }}
</h1>
{% if user == current_user %}
<a class="btn btn-primary btn-sm position-absolute" style="top: 0.75rem; right: 1rem"
    href="{{ url_for('change_password', next=request.full_path) }}">修改密码</a>
{% endif %}
<br>
{% if user.last_seen %}
<p>上次登录时间: {{ moment(user.last_seen).format('LLL') }}</p>
{% endif %}
<hr class="divider my-4" />

<h3 class="text-uppercase text-white font-weight-bold">您添加的人员</h3>

{% if units %}
<div class="auto-scroll" style="height: 300px">
    <table id="table" class="table table-hover" data-filter-control="true" data-show-clear="true">
        <thead>
            <tr>
                <th data-field="id">序号</th>
                <th data-field="name" data-filter-control="input">姓名</th>
                <th data-field="member_id" data-filter-control="input">人员编号</th>
                <th data-field="age" data-filter-control="select">年龄</th>
                <th data-field="height" data-filter-control="input">身高(cm)</th>
                <th data-field="weight" data-filter-control="input">体重(kg)</th>
                <th data-field="timestamp" data-filter-control="input">上次修改时间</th>
                <th>操作</th>
            </tr>
            {% for unit in units %}
            <tr>
                <td>{{ loop.index + ((page - 1) * config.UNITS_PER_PAGE) }}</td>
                <td><a href="{{ url_for('unit', unit_id=unit.id, next=request.full_path) }}">{{ unit.name }}</a></td>
                <td>{{ unit.member_id }}</td>
                <td>{% if unit.age %} {{ unit.age }} {% endif %}</td>
                <td>{% if unit.height %} {{ unit.height }} {% endif %}</td>
                <td>{% if unit.weight %} {{ unit.weight }} {% endif %}</td>
                <td>{{ moment(unit.timestamp).format('LLL') }}</td>
                {% if (unit.creator == current_user) or (current_user.is_admin()) %}
            <td>
                <a class="btn btn-info btn-sm"
                    href="{{ url_for('unit_edit', unit_id=unit.id, next=request.full_path) }}">编辑</a>
                <form style="display: inline" class="inline" method="post"
                    action="{{ url_for('unit_delete', unit_id=unit.id, next=request.full_path) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" class="btn btn-danger btn-sm"
                        onclick="return confirm('你确定要删除吗?');">删除</button>
                </form>
            </td>
            {% else %}
            <td>
                <button class="btn btn-info btn-sm disabled">编辑</button>
                <button class="btn btn-danger btn-sm disabled">删除</button>
            </td>
            {% endif %}
            </tr>
            {% endfor %}
        </thead>
    </table>
</div>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<br>
<h5 class="text-uppercase text-white font-weight-bold">没有人员记录</h5>
{% endif %}
{% endblock %}